[submodule "four_wheel_carlike_steering_controller"]
	path = four_wheel_carlike_steering_controller
	url = https://github.com/bob-ROS/four_wheel_carlike_steering_controller
[submodule "navfn_subgoals"]
	path = navfn_subgoals
	url = https://github.com/bob-ROS/navfn_subgoals
