<?xml version="1.0"?>
<launch>
<!--
<node name="asc_base_node"
      pkg="asc_base"
      type="asc_base_node"/> -->
  <!-- Load controller configuration -->
  <rosparam command="load" file="$(find asc_control)/config/control.yaml"/>
  <!-- Spawn controllers -->
  <node name="base_controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="/asc" args="asc_state_controller asc_ackermann_controller"/>
</launch>

