<?xml version="1.0"?>
<launch>
  <group>
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find asc_rtabmap_navigation)/config/rtabmap.rviz" output="screen"/>
    <!-- Construct and voxelize the point cloud (for fast visualization in rviz) -->
    <node pkg="nodelet" type="nodelet" name="points_xyzrgb" args="standalone rtabmap_ros/point_cloud_xyzrgb">
      <remap from="rgbd_image" to="/rtabmap/rgbd_image/compressed"/>
      <remap from="cloud" to="/rtabmap/cloud_map"/>
      <param name="queue_size" type="int" value="10"/>
      <param name="voxel_size" type="double" value="0.01"/>
    </node>
    <!-- Visualisation RTAB-Map -->
    <node pkg="rtabmap_ros" type="rtabmapviz" args="-d $(find rtabmap_ros)/launch/config/rgbd_gui.ini" name="rtabmapviz" output="screen">
      <param name="subscribe_depth" type="bool" value="true"/>
      <param name="subscribe_scan" type="bool" value="true"/>
      <param name="frame_id" type="string" value="base_link"/>
      <param name="wait_for_transform" type="bool" value="true"/>
      <remap from="rgb/image" to="/camera/color/image_raw"/>
      <remap from="depth/image" to="/camera/depth/image_raw"/>
      <remap from="rgb/camera_info" to="/camera/color/camera_info"/>
      <remap from="scan" to="/scan"/>
      <remap from="odom" to="/odometry/filtered"/>
    </node>
  </group>
</launch>

