<?xml version="1.0"?>
<launch>
  <!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="debug" value="$(arg debug)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="verbose" value="true"/>
  </include>
  <!-- Load PID config for the joints -->
  <rosparam file="$(find asc_description)/config/gazebo_ros_control_params.yaml" command="load"/>
  <!-- Load the URDF into the ROS Parameter Server -->
  <!--
  <param name="asc/robot_description" textfile="$(find asc_description)/urdf/asc_description.urdf"/> for urdf-->
  <param name="/robot_description" command="$(find xacro)/xacro --inorder '$(find asc_description)/urdf/asc.urdf.xacro'"/>
  <!--
  <node name="tf_footprint_base" pkg="tf" type="static_transform_publisher" args="0 0 0 0 0 0 base_link base_footprint 40"/> -->
  <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
  <node name="urdf_spawner" pkg="gazebo_ros" ns="/" type="spawn_model" respawn="false" output="screen" args="-urdf -model asc -param robot_description"/>
  <!--<node name="spawn_model" pkg="gazebo_ros" type="spawn_model" args="-file $(find asc_description)/urdf/asc_description.urdf -urdf -model asc_description" output="screen"/> -->
<!--  Verify if these are necessary!! -->
  <!--
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
    <remap from="/joint_states" to="/asc/joint_states"/>
  </node>-->
 <include file="$(find asc_control)/launch/control.launch" />

</launch>

