<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"
  name="asc">
  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/</robotNamespace>
      <!--<robotParam>/robot_description</robotParam> -->
      <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
      <legacyModeNS>false</legacyModeNS>
    </plugin>
  </gazebo>
  <xacro:include filename="macro_link.urdf.xacro"/>
  <xacro:include filename="macro_wheel.urdf.xacro"/>

  <xacro:property name="wheel_length" value="0.032"/>
  <xacro:property name="wheel_radius" value="0.1"/>
  <xacro:property name="wheel_parent" value="frame_link"/>


  <link name="base_link"/>
  <joint name="base_link_to_frame" type="fixed">
    <origin xyz="0 0 0.7" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="frame_link"/>
  </joint>

  <link name="frame_link">
    <inertial>
      <origin xyz="-0.191135074026536 0.00147037627768998 -0.144166350352701" rpy="0 0 0"/>
      <mass value="54.6845003989778"/>
      <inertia ixx="0.830289508168532" ixy="-7.44170925374484E-07" ixz="-0.168031775231281" iyy="1.89493024064907" iyz="3.6787232173372E-07" izz="1.80540947379668"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://asc_urdf/meshes/base_link.STL" />
      </geometry>
      <material name="">
        <color rgba="0.866666666666667 0.866666666666667 0.890196078431372 1"/>
      </material>
    </visual>
  </link>

  <xacro:asc_wheel_front wheel_prefix="right"
  link_parent="${wheel_parent}" wheel_length="${wheel_length}" wheel_radius="${wheel_radius}" >
    <origin
      xyz="0.35635 -0.23074 0.27672"
      rpy="0.29046 -0.12882 -1.6092" />
    <origin
      xyz="0.024 0.023741 -0.18704"
      rpy="0.13981 0.28531 1.6105" />
    <axis
      xyz="5.3677E-05 1 0.00055924" />
  </xacro:asc_wheel_front>

  <xacro:asc_wheel_front wheel_prefix="left"
  link_parent="${wheel_parent}" wheel_length="${wheel_length}" wheel_radius="${wheel_radius}" >
    <origin
      xyz="0.35635 0.22966 0.27672"
      rpy="0.28907 0.00024223 -1.5707" />
    <origin
      xyz="-0.05 0.023546 -0.17951"
      rpy="1.5963E-05 0.28907 1.5707" />
    <axis
      xyz="5.3677E-05 -1 0.00055924" />
  </xacro:asc_wheel_front>

  <xacro:asc_wheel_rear wheel_prefix="right"
  link_parent="${wheel_parent}" wheel_length="${wheel_length}" wheel_radius="${wheel_radius}" >
  <origin
  xyz="-0.48012 -0.29752 0.27"
  rpy="0.0 0.0 0.0" />
    <origin
      xyz="0.0 0.0 -0.16"
      rpy="0 0 0" />
    <axis
      xyz="0 -1 0" />
  </xacro:asc_wheel_rear>

  <xacro:asc_wheel_rear wheel_prefix="left"
  link_parent="${wheel_parent}" wheel_length="${wheel_length}" wheel_radius="${wheel_radius}" >
  <origin
  xyz="-0.48012 0.29752 0.27"
  rpy="0.0 0.0 0.0" />
      <origin
      xyz="0.0 0.0 -0.16"
      rpy="0 0 0" />
    <axis
      xyz="0 1 0" />
  </xacro:asc_wheel_rear>














</robot>
