<?xml version="1.0"?>
<launch>

  <arg name="use_move" default="false"/>
  <arg name="use_zed" default="false"/>
  <arg name="use_lidar" default="false"/>



  <!-- TF publisher-->
  <param name="/robot_description" command="$(find xacro)/xacro --inorder '$(find asc_description)/urdf/mast.urdf.xacro'"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
    <remap from="/joint_states" to="/joint_states"/>
  </node>

  <!-- launch rtab + zed node-->
  <include file="$(find asc_rtabmap_navigation)/launch/rtab_demo.launch">
    <arg name="visualize" value="false"/>
    <arg name="use_scan" value="false"/>
    <arg name="use_scan_cloud" value="true"/>
    <arg name="use_icp_odometry" value="false"/>
  </include>


  <!-- scan converting, required for obstacle layer -->
  <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan" output="screen">
    <remap from="scan" to="/scan"/> 
    <remap from="cloud_in" to="os1_cloud_node/points"/>
    <rosparam>
              target_frame: base_link # Leave empty to output scan in the pointcloud frame
              tolerance: 1.0
              min_height: 0.2
              max_height: 1.0

              angle_min: -3.14 # -30.0*M_PI/180.0
              angle_max: 3.14 # 30.0*M_PI/180.0
              angle_increment: 0.005 # M_PI/360.0
              scan_time: 0.3333
              range_min: 0.8
              range_max: 100.0
              use_inf: true

              # Concurrency level, affects number of pointclouds queued for processing and number of threads used
              # 0 : Detect number of cores
              # 1 : Single threaded
              # 2-&gt;inf : Parallelism level
              concurrency_level: 1
    </rosparam>
  </node>
  <!-- lidar position os1_sensor-->
  <node pkg="tf2_ros" type="static_transform_publisher" name="link_to_lidar" args="0 0 0.2 -1.57 0 0 base_link os1_sensor" output="screen"/>
  

<!--
<include file="$(find asc_navigation)/launch/move_base.launch" /> 
-->
</launch>

